@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?asvdl6");
  src: url("../fonts/icomoon.eot?asvdl6#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?asvdl6") format("truetype"),
    url("../fonts/icomoon.woff?asvdl6") format("woff"),
    url("../fonts/icomoon.svg?asvdl6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mr-logo .path1:before {
  content: "\e900";
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path13:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path14:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path15:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path16:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path17:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path18:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path19:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path20:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path21:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path22:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path23:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path24:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(29, 29, 29);
}
.icon-mr-logo .path25:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path26:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path27:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path28:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path29:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path30:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path31:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path32:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path33:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path34:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path35:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path36:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path37:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path38:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path39:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path40:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path41:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path42:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path43:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path44:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path45:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path46:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path47:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path48:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path49:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path50:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path51:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path52:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.icon-mr-logo .path53:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-mr-logo .path54:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(29, 29, 29);
  opacity: 0.8;
}
.icon-code:before {
  content: "\e909";
}
.icon-github1:before {
  content: "\e90d";
}
.icon-globe:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-linkedin1:before {
  content: "\e917";
}
.icon-mail:before {
  content: "\e918";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-search:before {
  content: "\e91f";
}
.icon-share:before {
  content: "\e920";
}
